name: Test
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          cache: gradle
          distribution: temurin
      - name: Build with Gradle
        run: gradle clean build --no-daemon -x test
      # - name: Test with Gradle
      #   run: gradle test --no-daemon
